* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Roboto", sans-serif;
    background-color: #e8a7c2;
    color: #ffffff;

}



img {
    width: 583px;
    height: 374px;
    margin-top: 45px;
    margin-left: 352px;
    margin-bottom: 30px;
    display: inline-block;


}


h2 {
    text-align: center;
    padding: 25px 0px;
    font-size: 55px;
    color: #145710;

    font-style: italic;



}

@keyframes fas_piscar {
    0% {
        opacity: 4;
    }

    50% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

h2 {
    -webkit-animation: fas_piscar .10s linear infinite;
    -moz-animation: fas_piscar .10s linear infinite;
    -ms-animation: fas_piscar .10s linear infinite;
    -o-animation: fas_piscar .90s linear infinite;
    animation: fas_piscar .90s linear infinite;
}

.section-from {
    text-align: center;


}



#placeholder-number {
    width: 342px;
    height: 74px;
    font-size: 35px;
    padding: 35px;
    gap: 0px;
    border-radius: 14px;
    border: 1px 0px 0px 0px;
    opacity: 0px;
    border: 1px #FFFFFF33;
    background: #FFFFFF40;
    margin: 5px;
    color:#145710;

}

button {

    margin: 45px 12px 0 450px;
    padding: 5px 15px;
    color: #ffffff;
    background: #21e47c;
    box-shadow: 0px 18px 40px 0px #AEC34659;
    border-radius: 5px;
    border: none;
    width: 342px;
    height: 72px;
    border-radius: 10px;
    opacity: 0px;
    font-size: 30px;
    cursor: pointer;
}

@media screen and (max-width:900px) {
    img {
       height:100%;
       width:150%;
        margin: 80px 55px 80px 60px;
        align-items: center;
        margin-bottom: 30px;

    }
}

@media screen and (max-width:900px) {
    h2 {

        font-size: 35px;
       display: inline-block;
   margin:0 260px;
   width: 200px;
  

    }
}


@media screen and (max-width:900px) {
    #placeholder-number {

        margin-top: 45px;
        margin-left: 185px;
        font-size: 15px;
    }


}

@media screen and (max-width:900px) {
    button {

        margin: 35px 0px 0 255px;
        width: 180px;
        height: 45px;
        font-size: 25px;


    }
}